.Interface {
    text-align: center;
  }

.FilmInterface {
    background-color:#282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: black;
  }

.Nomgenre {
  color : whitesmoke
}

ul {
  color : whitesmoke
}